<%= content_for :page_title, 'JoshAronoff.com - About Josh' %>
<h1>About Josh</h1>
<p>With over 9 years of experience designing for the web, Josh takes his passion for people, clear language, design and love of information to be intentional with what he is building, whether a mobile application, a desktop application or a site structure for a enterprise level website.</p>
