<%= content_for :page_title, 'JoshAronoff.com - Work Experience' %>


<div class="row">
    <div class="eight columns">
      <h1>Experience</h1>





    </div>
    <div class="four columns">
      <h1>Skills</h1>
    </div>
  </div>