
<h1>Hello!</h1>
<p>My name is Josh Aronoff and I am a graphic designer, ux designer, podcaster and husband and father. I like to build things. Whether it's in pixels, or audio, or even in Minecraft.</p>

 
	
		<h2>What I Do.</h2>
		<div class="large-4 columns">
			<img src="http://placehold.it/400x300&text=[img]" />
			<h3><i class="icon-pencil"></i> Interaction Design</h3>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns">
    	<img src="http://placehold.it/400x300&text=[img]" />
	    <h3><i class="icon-smile"></i> UX Design</h3>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h3><i class="icon-calendar"></i> Project Management</h3>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>


   
	

  <!-- Resume Section -->
  <h1>Resume</h1>

  <div class="row display">
          <div class="large-3 columns"><span class="show-for-small">full</span><span class="hide-for-small"> </span></div>
          <div class="large-6 columns"><span class="show-for-small"><%= render "resume" %></span><span class="hide-for-small"><%= render "resume" %></span></div>
          <div class="large-3 columns"><span class="show-for-small">full</span><span class="hide-for-small">3</span></div>
        </div>

