<h2>RadNet Inc.</h2>
<h3>Web Designer</h3>
<ul class="square">
<li>Design and help build various marketing websites.</li>
<li>Design and produce various print collateral to support marketing and other areas of </li>business.
<li>Project manage timeline, design, development and project scope.</li>
<li>Help communicate with clients, setting and maintaining expectations along the way.</li>
</ul>

<h2>Thermo Fisher Scientific</h2>
<h3>Information Architect</h3>
<ul>

	<li>Produce interactive prototyping for usability testing</li>
<li>Create wireframes based on business need, using design principles and best practices</li>
<li>Design research for web related projects at the enterprise level</li>
<li>Process improvement and Axure standardization for team</li>

</ul>

<h2>The Resumator</h2>
<h3>Product Designer</h3>
<ul>

<li>Produce custom job boards based on clients existing site designs</li>
<li>Define scope of new products</li>
<li>Perform best practices in UX Design to make design recommendations of existing </li>application features
<li>Prioritze feedback from internal and external customers and decide the direction of Product Manager.</li>

</ul>